img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border:5px solid gray;
    padding:5px;
  }

  button{
    font-size:17px;  
    background-color: transparent
    }

ion-grid{
    ion-row{
        ion-col:nth-child(1){
            border-bottom: 1px solid #d5d4d4;
        }
        ion-col:nth-child(2){
            border-right: 1px solid #d5d4d4;
            border-bottom: 1px solid #d5d4d4;
        }
        ion-col:nth-child(3){
            border-bottom: 1px solid #d5d4d4;
        }
        ion-col:nth-child(4){
            border-top: 1px solid #d5d4d4;
        }
    }
}

ion-item{
    color:#a8a6a6;
}