<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button style="color:white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon name="person-circle" style="font-size: 1.7rem;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="7">M.R.P.</ion-col>
        <ion-col size="5" class="ion-text-right">$233,00</ion-col>
        <ion-col size="7">Descuento</ion-col>
        <ion-col size="5" class="ion-text-right" style="color:green;">-20%</ion-col>
        <ion-col size="7" style="color:green; font-weight:bold;">
          <ion-icon name="cash"></ion-icon> Miembro
        </ion-col>
        <ion-col size="5" class="ion-text-right">No es miembro</ion-col>
        <ion-col size="7">
          <ion-icon name="car"></ion-icon> Cargos por Delivery
        </ion-col>
        <ion-col size="5" class="ion-text-right" style="color:var(--ion-color-danger);">+$20</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngFor="let item of prod | slice:0:4; let i=index" routerLink="/product-single">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src={{item.value.img}}>
        </ion-col>
        <ion-col size="8">
          <h2>
            $<strong>{{item.value.price}}</strong> <small *ngIf="item.value.ofert"
              [ngClass]="{'oferta': item.value.ofert === true, 'no-oferta' : item.value.ofert === false }">
              ${{item.value.price - (item.value.price * 0.2) |
              number}} </small> <span class="text-ofert2" *ngIf="item.value.ofert"> 20% off</span></h2>
          <h4>{{item.value.nombre}}</h4>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center" style="display: flex; align-items:center;">
        <ion-col size="6">
          {{item.value.presentacion}}
        </ion-col>
        <ion-col size="6">
          <button class="menos" (click)="boton(item.id, 'resta')">-</button> <span
            style="margin-left: 5px; margin-right:5px;"><strong>{{number}}</strong></span> <button class="mas"
            (click)="boton(item.id, 'suma')">+</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-button color="dark" routerLink="/login">
          <ion-icon name="cart"></ion-icon> Proceder a la caja
        </ion-button>

      </ion-col>
      <ion-col size="4" class="ion-text-right">
        <ion-button color="dark" routerLink="/login">
          $1200.69 <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>