<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button style="color:white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">

  <ion-card class="ion-text-center ion-padding">
    <p>We will send an SMS with a confirmation code to this number</p>
  </ion-card>
  <ion-card class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Número de Teléfono <span style="color:red;">*</span></ion-label>
      <ion-input type="tel" placeholder="inserte el número de teléfono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Use el código de referencia</ion-label>
      <ion-input type="tel" placeholder="inserte el código"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card class="ion-padding">
    <ion-button color="success" expand="block" routerLink="/edit-address">Siguiente</ion-button>
  </ion-card>
</ion-content>

<ion-footer color="light" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="4">
        <button routerLink="/address">
          <ion-icon name="person-circle"></ion-icon><br>
          Address
        </button>
      </ion-col>
      <ion-col size="4">
        <button  routerLink="/payment">
          <ion-icon name="navigate-circle"></ion-icon><br>
          Payment
        </button>
      </ion-col>
      <ion-col size="4">
        <button  routerLink="/complete">
          <ion-icon name="checkmark-circle"></ion-icon><br>
          Complete
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>